@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.ttf") format('truetype');
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Raleway', sans-serif;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
    position: relative;
    font-size: 13px;
    height: 40px!important;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
    margin-top:10px!important;
    border: 4px solid rgba(255, 255, 255, 0.61);
    transition: 0.5s;
}

.form-signin input[type="text"]:focus,
.form-signin input[type="password"]:focus,
.form-signin input[type="email"]:focus  {
    z-index: 2;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
}

.form-signin input:hover {
    background-color: rgba(224, 241, 255, 0.486);
}

.list-inline a {
    color:#000000 !important;
    font-size:13px !important;
}

.list-inline a:hover {
    color:#24a2f6!important;
    text-decoration:none;
}

.btn-lg {
    margin:0px!important;
}

.form-signin p {
    /*background-color:#000;*/
    font-size:16px !important;
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color:white;
    padding:8px 0px 8px 0px;
    border-radius:5px;
      -webkit-border-radius:5px;
    -moz-border-radius: 5px;
}

#login {
    margin: 30px -113px 0px -113px;
    padding: 40px;
    background-color:rgb(136, 167, 255);
}

#logoimg {
    width: 180px;
}

footer {
    margin-top: 40px;
}